.counter{
    display: block;
    background-color: grey;
    width: fit-content;
    align-items: center;
    text-align: center;
    border: solid black;
    padding: 10px;


}

#contador{
    font-size: 150%;
}