.counter{
    /* display: block; */
    /* width: fit-content; */
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #FCCF00;
    color: #D01012;

}

#contador{
    font-size: 150%;
}